<script>
  $(function() {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
<script src="/script.js"></script>
</body>
<footer class="footer py-3 bg-dark text-white text-center mt-2">
  <div class="container">
    <p class="mb-0" style="font-size: 10px;">&copy; <%= new Date().getFullYear() %> PSG Institute of Technology and Applied Research.<br> All
      rights reserved.</p>
  </div>
</footer>

</html>