<script>
  $(function() {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
<script src="/script.js"></script>
<script type="module" src="./main.js"></script>
</body>
<footer class="footer1 py-3 bg-dark text-white text-center mt-2">
  <div class="container">
    <p class="mb-0 text-muted">&copy; <%= new Date().getFullYear() %> PSG Institute of Technology and Applied Research.<br>
      All rights reserved.
    </p>
  </div>
</footer>

</html>