# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Temporary files
tmp
temp

# Build output
dist
build

# IDE and Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

toadd.txt