<!DOCTYPE html>
<html>

<head>
  <title>Success</title>
</head>

<body>
  <div class="container mt-5 text-center align-items-center">

    <h1>Absence recorded successfully!</h1>
    <h2>
      <div class="mb-5"><%= msg %></div>
      <a href="/lateAbsenceForm" class="btn btn-primary m-auto">Sumbit Another entry</a>
    </h2>
  </div>

</body>

</html>