<div class="container-fluid">
    <div class="row">
        <div
            class="col-lg-6 col-md-6 d-none d-sm-block left-side d-lg-flex d-md-flex justify-content-center align-items-center ">
            <img src="/logo.png" alt="logo" class="logo">

        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 right-side  ">
            <div class="row">
                <div class="col-sm-12 d-block d-sm-none d-flex justify-content-center align-items-center">
                    <img src="logo.png" alt="logo" class="logo2">
                </div>
            </div>
            <div class="row  pt-5">
                <form action="/login" class="d-flex flex-column align-items-center justify-content-center"
                    method="post">
                    <div class="row input">
                        <label for="Reg_No" class="fw-bold  fs-5">Registration Number: </label>
                        <input type="text" placeholder="T24Z121" required class="input-box p-2 my-2" name="Reg_No">
                    </div>
                    <div class="row input">
                        <label for="password" class="fw-bold fs-5">Password: </label>
                        <input type="text" placeholder="Enter the Password" required class="input-box p-2 my-2"
                            name="password">
                    </div>
                    <input type="hidden" name="redirect" value="<%= redirectUrl %>">
                    <div class="row input mt-4 ">
                        <input type="submit" class="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>