<div class="container-fluid">
    <div class="row">
        <div
            class="col-lg-6 col-md-6 d-none d-sm-block left-side d-lg-flex d-md-flex justify-content-center align-items-center">
            <img src="/logo.png" alt="logo" class="logo">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 right-side">
            <div class="row">
                <div class="col-sm-12 d-block d-sm-none d-flex justify-content-center align-items-center">
                    <img src="/logo.png" alt="logo" class="logo2">
                </div>
            </div>

            <div class="row pt-5" id="loginFormCont">
                <form id="loginForm" class="d-flex flex-column align-items-center justify-content-center">
                    <div class="row input">
                        <label for="Reg_No" class="fw-bold fs-5">Registration Number:</label>
                        <input type="text" placeholder="T24Z121" required class="input-box p-2 my-2" name="Reg_No"
                            id="Reg_No">
                    </div>
                    <div class="row input">
                        <label for="password" class="fw-bold fs-5">Password:</label>
                        <input type="password" placeholder="Enter the Password" required class="input-box p-2 my-2"
                            name="password" id="password">
                    </div>
                    <div class="row input mt-4">
                        <button type="submit" class="submit">Login</button>
                    </div>
                </form>
            </div>

            <!-- Placeholder for buttons based on access role -->
            <div id="roleButtons" class="mt-4 text-center"></div>
        </div>
    </div>
</div>

<script>
    document.getElementById('loginForm').addEventListener('submit', async function (event) {
        event.preventDefault();
        const regNo = document.getElementById('Reg_No').value;
        const password = document.getElementById('password').value;
        try {
            const response = await fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    Reg_No: regNo,
                    password: password
                })
            });
            const data = await response.json();
            if (!response.ok) {
                throw new Error('Login failed');
            }

            if (data.success === true) {
                const accessRole = data.access_role;
                document.getElementById('roleButtons').innerHTML = '';
                if (accessRole === 1) {
                    window.location.href = '/absenceSubmitForm';
                } else if (accessRole === 2) {
                    document.getElementById("loginFormCont").style.display = "none"
                    document.getElementById('roleButtons').innerHTML = `
                        <button onclick="window.location.href='/lateAbsenceForm'" class="btn btn-primary m-2">Submit Form</button>
                        <button onclick="window.location.href='/records/class'" class="btn btn-secondary m-2">View Class Records</button>
                        `;
                } else if (accessRole === 3) {
                    document.getElementById("loginFormCont").style.display = "none"
                    document.getElementById('roleButtons').innerHTML = `
                         <button onclick="window.location.href='/lateAbsenceForm'" class="btn btn-primary m-2">Submit Form</button>
                        <button onclick="window.location.href='/dashboard'" class="btn btn-secondary m-2">HOD Dashboard</button>
                        `;
                }
            } else {
                alert(data.message);
            }

        } catch (error) {
            console.error('Error:', error);
            alert('Login failed. Please check your credentials and try again.');
        }
    });
</script>