<%- include('partials/header', { title: title }) %>

<% if (typeof msg !== 'undefined') { %>
<div id="alertBox" class="alert alert-info alert-dismissible fade show w-25 w-sm-100 ml-auto mr-auto mb-auto mt-2 fixed-top" role="alert">
  <span class="fw-bold"><%= msg %></span>
  <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
    <span>&times;</span>
  </button>
  <div class="progress-bar"></div>
</div>
<% } %>
</div>
<%- body %>

<%- include('partials/footer') %>