.main {
    height: 600px;
}

.left-side {
    display: flex;
    height: 100vh;
    background-color: white;
    background-image: linear-gradient(to right, rgb(243, 11, 11), rgb(245, 246, 248), rgb(4, 17, 78));
}

.right-side {
    height: 100vh;
}

.input {
    width: 75%;
}

.input-box {
    border-radius: 4px;
}

.submit {
    height: 40px;
    border-radius: 4px;
    border: solid 2px black;
    color: white;
    background: rgb(4, 4, 117);
    transition: transform 0.2s ease;
    cursor: pointer;
}

.logo {
    height: 43vh;
    width: 50vw;
}


.logo2 {
    padding-top: 20px;
    height: 25vh;
    width: 47vw;
}

#studentData {
    display: none;
}

#Reg_no2 {
    display: none;
}


#cont1 canvas {
    display: none;
}


#cont1 {
    border: 1px solid #000;
    width: 75%;
    max-width: 100%;
    margin: auto;
    margin-top: 1rem;
    height: auto;
    padding: 0;
}

#Reg_no2 {
    display: none;
}

.details {
    display: none;
}

.clickable-row{
    cursor: pointer;
}